<div class="container">
    <h1>Iniciar sesión</h1>
    <!-- no hacer nunca esto !!!! -->
    <!--<style>  
          input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
          }
          button {
            background-color: #6A5ACD;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
          }
    </style>-->

    <form class="form">
      <label for="username"><b>Username: </b></label>
      <input type="text" #user name="username" placeholder="Username" value="Abel"><br>
      <label for="password"><b>Password: </b></label>
      <input type="password" #clau name="password" placeholder="Password" value="123"><br>
      <button type="submit" (click)="logIn(user.value, clau.value, $event)"
            id="login-button"> Login</button>
    </form>
  </div>


