<p>Depatramento {{idDepto}} {{Departamento.name}}</p>

<table>
    <tr>
        <td>Jefe</td>
        <td>{{Departamento.jefe}}</td>
    </tr>
    <tr>
        <td>Horario</td>
        <td>{{Departamento.horario}}</td>
    </tr>
    <tr>
        <td>Jefe</td>
        <td>{{Departamento.contacto}}</td>
    </tr>
</table>

<app-empleados [idDepto]=idDepto></app-empleados>

<!--<div *ngIf="Departamento.name == 'Almacen'">
    <router-outlet></router-outlet>
</div>-->

<hr/>

<router-outlet name="ModuloProductos"></router-outlet>
<router-outlet name="EditProductos"></router-outlet>



<a routerLink="../..">Volver</a>

