
  
button.mat-menu-item{
      background-color:white;
}
  
button.mat-menu-item:hover {
      background-color: rgb(200, 200, 243);
      color: #fff !important;
}

button.mat-button{
      background-color: rgb(200, 200, 243);
}