form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.is-invalid{
  border-color: red; 
  border-width: 1px; 
  box-shadow: 0 0 5px 1px red;
}
.d-none {
    display: none;
  }
.d-show {
    display: inline;
    color: red;
}
.d-invisible{
    visibility: hidden;
}
input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus {
  box-shadow: none;
  border-color:blue;
}